server:
  port: 8082
spring:
  resources:
    static-locations: /resources/static
  profiles:
    active: local
jwt:
  header: Authorization
  secret: mySecret
  expiration: 604800
  route:
    authentication:
      path: auth
      refresh: refresh
